@media (min-width: 1440px) {
  .card-item {
    width: calc(33.33% - 40px);
  }

  .slider_page-bg {
    @include imgSize (400px, auto);
    background-size: cover;
  }

  .paragraph-section .wrapper {
    padding: 0 180px;
  }
}