@media (min-width: 1920px) {
  .wrapper {
    padding: 0 160px;
  }

  .link-next:hover {
    color: $titleColor;
  }

  .link-next:hover.link-next::after {
    display: none;
    @include beforeAfter ('../images/arrow-hover.svg');
    @include imgSize (5px, 9px);
    display: inline-block;
    margin-left: 5px;
  }

  .partner-section {
    padding: 0 100px;
    text-align: center;

    a {
      width: 25%;
    }
  }

  .top-left-rounding {
    border-radius: 12px 0 0 0;
  }

  .top-right-rounding {
    border-radius: 0 12px 0 0;
  }

  .bottom-left-rounding {
    border-radius: 0 0 0 12px;
  }

  .bottom-right-rounding {
    border-radius: 0 0 12px 0;
  }
}