@media (min-width: 1024px) {
  .wrapper {
    padding: 0 60px;
  }

  .card-item {
    width: calc(33.33% - 40px);
  }

  .partner-section {
    a {
      width: 25%;
    }
  }
  
  .slider_page {
    flex-wrap: nowrap;
  }

  .slider_page-bg {
    @include imgSize (40%, 512px);
    border-radius: 12px 0px 0px 12px;
  }

  .slider_page-content {
   width: 60%;
  }

}