@media (min-width: 768px) {
  .wrapper {
    padding: 0 60px;
  }

  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
    margin-top: 60px;
  }

  .card-item {
    width: calc(50% - 30px);
    margin-bottom: 0px;
  }

  .main_title {
    font-size: 38px;
    line-height: 46px;
  }

  .partner-section {
    display: flex;
    flex-wrap: wrap;
    
    a {
      width: 33.33%;
    }

    .desctop-show {
      display: inline-block;
    }
  }
}

