@media (min-width: 1024px) {
  .wrapper {
    padding: 0 60px;
  }

  .card-item {
    width: calc(33.33% - 40px);
  }

  .partner-section {
    a {
      width: 25%;
    }
  }
  
  .slider_page {
    flex-wrap: nowrap;
  }

  .slider_page-bg {
    width: 400px;
    border-radius: 12px 0px 0px 12px;
  }

  .publications .link-next--indent {
    margin-bottom: 10px;
  }

  .publications-cards {
    flex-wrap: nowrap;
  }

  .card {
    width: 33.33%;
  }
}