.link-next {
  @include font ($mainFontWeight, 14px, 17px, $subTitleColor);
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.link-next--indent10 {
  margin-bottom: 10px;
}

.link-next--indent5 {
  margin-bottom: 5px;
}

.link-next::after {
  @include beforeAfter ('../images/arrow-r.svg');
  @include imgSize (5px, 9px);
  display: inline-block;
  margin-left: 5px;
}
