.partner-section {
  text-align: center;

  .title {
  @include font (700, 14px, 17px, #323264);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
}

.partners {
  a {
    display: inline-block;
    width: 100%;
    font-size: 0px;
  }

  .desctop-show {
    display: none;
  }
}

.back-hillel {
  background-color: #1C4280;
  padding: 36px 0;
}

.back-wannabiz {
  background-color: #143646;
  padding: 44px 0;
}

.back-tapgerine {
  background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
  padding: 38px 0;
}

.back-3dlook {
  background-color: #9E4DC3;
  padding: 39px 0;
}

.back-orangear {
  background-color: #FD9339;
  padding: 38px 0;
}

.back-adtelligent {
  background-color: #E2E2E4;
  padding: 36px 0;
}

.back-clikky {
  background-color: #C71C36;
  padding: 29.5px 0;
}

.back-ecoleasing {
  background-color: #DCF3F9;
  padding: 22px 0;
}

.back-infratek {
  background-color: #EAEAEA;
  padding: 30px 0;
}

.back-citypark {
  background-color: #282240;
  padding: 41px 0;
}

.back-artprint {
  background-color: #1D4568;
  padding: 37px 0;
}

.back-ultimate {
  background-color: #000000;
  padding: 12.5px 0;
}
