* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: 375px;
  overflow: auto;
}

.wrapper {
  padding: 0 30px;
  // max-width: 1600px;
  // margin-right: auto;
  // margin-left: auto;
}

a {
  text-decoration: none;
}